version: '2'
services:
  sample:
    container_name: sample
    image: sdcplatform/samplesvc
    ports:
     - "2125:8125"
     - "8225:8225"
    external_links:
     - postgres
     - rabbitmq
     - redis
     - sftp
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:5432/postgres
     - rabbitmq.port=5672
     - rabbitmq.host=rabbitmq
     - redis.host=redis
     - data-grid.address=redis:6379
     - sftp.host=sftp
     - sftp.port=22
     - party-svc.connection-config.host=ras-party-service-int.apps.devtest.onsclofo.uk
  case:
    container_name: case
    image: sdcplatform/casesvc
    ports:
     - "8171:8171"
     - "8271:8271"
    external_links:
     - postgres
     - rabbitmq
     - redis
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:5432/postgres
     - rabbitmq.host=rabbitmq
     - rabbitmq.port=5672
     - redis.host=redis
     - data-grid.address=redis:6379
     - action-svc.connection-config.host=action
     - internet-access-code-svc.connection-config.host=iac
     - collection-exercise-svc.connection-config.host=collex
     - case-distribution.delay-milli-seconds=30000
  action:
    container_name: action
    image: sdcplatform/actionsvc
    ports:
     - "8151:8151"
     - "8251:8251"
    external_links:
     - postgres
     - rabbitmq
     - redis
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:5432/postgres
     - rabbitmq.host=rabbitmq
     - rabbitmq.port=5672
     - redis.host=redis
     - case-svc.connection-config.host=case
     - collection-exercise-svc.connection-config.host=collex
     - data-grid.address=redis:6379
  actionexporter:
    container_name: actionexporter
    image: sdcplatform/actionexportersvc
    ports:
     - "8141:8141"
     - "8241:8241"
    external_links:
     - postgres
     - rabbitmq
     - redis
     - sftp
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:5432/postgres
     - rabbitmq.host=rabbitmq
     - rabbitmq.port=5672
     - redis.host=redis
     - sftp.host=sftp
     - sftp.port=22
     - data-grid.address=redis:6379
  iac:
    container_name: iac
    image: sdcplatform/iacsvc 
    ports:
     - "8121:8121"
     - "8221:8221"
    external_links:
     - postgres
     - rabbitmq
     - redis
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:5432/postgres
     - rabbitmq.host=rabbitmq
     - rabbitmq.port=5672
     - redis.host=redis
     - case-svc.connection-config.host=case
  sdx-gateway:
    container_name: sdx-gateway
    image: sdcplatform/sdx-gateway
    ports:
     - "8191:8191"
     - "8291:8291"
    external_links:
     - postgres
     - rabbitmq
     - redis
     - sftp
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:5432/postgres
     - rabbitmq.host=rabbitmq
     - rabbitmq.port=5672
     - redis.host=redis
     - data-grid.address=redis:6379
     - sftp.host=sftp
     - sftp.port=22
  collectionexercise:
    container_name: collex
    image: sdcplatform/collectionexercisesvc 
    ports:
     - "8145:8145"
     - "8245:8245"
    external_links:
     - postgres
     - rabbitmq
     - redis
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:5432/postgres
     - rabbitmq.host=rabbitmq
     - rabbitmq.port=5672
     - redisson-config.address=redis:6379
     - data-grid.address=redis:6379
     - sample-svc.connection-config.host=sample
     - survey-svc.connection-config.host=survey
     - party-svc.connection-config.host=ras-party-service-int.apps.devtest.onsclofo.uk
  survey:
    container_name: survey
    image: sdcplatform/surveysvc
    ports:
     - "8080:8080"
    external_links:
     - postgres
    environment:
     - DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable
  notifygateway:
    container_name: notifygateway
    image: sdcplatform/notifygatewaysvc
    ports:
     - "8281:8281"
    external_links:
     - rabbitmq
    environment:
     - rabbitmq.host=rabbitmq
     - rabbitmq.port=5672
     - notify.apiKey=ctpnotifygateway-0e515090-7962-40e8-a8c7-acbacf079c21-ac979394-a989-4f79-b0e0-6abcca564393
networks:
  default:
    external:
      name: rmdockerdev_default
