version: '2'
services:
  sample:
    container_name: sample
    image: sdcplatform/samplesvc
    ports:
     - "${SAMPLE_PORT}:8125"
     - "${SAMPLE_MAN_PORT}:8225"
    external_links:
     - postgres
     - rabbitmq
     - redis
     - sftp
     - party
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}
     - rabbitmq.port=${RABBIT_PORT}
     - rabbitmq.host=${RABBIT_HOST}
     - redis.host=${REDIS_HOST}
     - redis.port=${REDIS_PORT}
     - data-grid.address=${REDIS_HOST}:${REDIS_PORT}
     - sftp.host=${SFTP_HOST}
     - sftp.port=${SFTP_PORT}
     - party-svc.connection-config.host=${PARTY_HOST}
     - party-svc.connection-config.port=${PARTY_PORT}
     - party-svc.connection-config.username=${PARTY_USER}
     - party-svc.connection-config.password=${PARTY_PASSWORD}
  case:
    container_name: casesvc
    image: sdcplatform/casesvc
    ports:
     - "${CASE_PORT}:8171"
     - "${CASE_MAN_PORT}:8271"
    external_links:
     - postgres
     - rabbitmq
     - redis
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}
     - rabbitmq.host=${RABBIT_HOST}
     - rabbitmq.port=${RABBIT_PORT}
     - redis.host=${REDIS_HOST}
     - data-grid.address=${REDIS_HOST}:${REDIS_PORT}
     - action-svc.connection-config.host=${ACTION_HOST}
     - action-svc.connection-config.port=${ACTION_PORT}
     - internet-access-code-svc.connection-config.host=${IAC_HOST}
     - internet-access-code-svc.connection-config.port=${IAC_PORT}
     - collection-exercise-svc.connection-config.host=${COLLEX_HOST}
     - collection-exercise-svc.connection-config.port=${COLLEX_PORT}
     - case-distribution.delay-milli-seconds=30000
  action:
    container_name: action
    image: sdcplatform/actionsvc
    ports:
     - "${ACTION_PORT}:8151"
     - "${ACTION_MAN_PORT}:8251"
    external_links:
     - postgres
     - rabbitmq
     - redis
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}
     - rabbitmq.host=${RABBIT_HOST}
     - rabbitmq.port=${RABBIT_PORT}
     - redis.host=${REDIS_HOST}
     - case-svc.connection-config.host=${CASE_HOST}
     - case-svc.connection-config.port=${CASE_PORT}
     - collection-exercise-svc.connection-config.host=${COLLEX_HOST}
     - collection-exercise-svc.connection-config.port=${COLLEX_PORT}
     - data-grid.address=${REDIS_HOST}:${REDIS_PORT}
  actionexporter:
    container_name: actionexporter
    image: sdcplatform/actionexportersvc
    ports:
     - "${ACTIONEXP_PORT}:8141"
     - "${ACTIONEXP_MAN_PORT}:8241"
    external_links:
     - postgres
     - rabbitmq
     - redis
     - sftp
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}
     - rabbitmq.host=${RABBIT_HOST}
     - rabbitmq.port=${RABBIT_PORT}
     - redis.host=${REDIS_HOST}
     - sftp.host=${SFTP_HOST}
     - sftp.port=${SFTP_PORT}
     - data-grid.address=${REDIS_HOST}:${REDIS_PORT}
  iac:
    container_name: iac
    image: sdcplatform/iacsvc 
    ports:
     - "${IAC_PORT}:8121"
     - "${IAC_MAN_PORT}:8221"
    external_links:
     - postgres
     - rabbitmq
     - redis
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}
     - rabbitmq.host=${RABBIT_HOST}
     - rabbitmq.port=${RABBIT_PORT}
     - redis.host=${REDIS_HOST}
     - case-svc.connection-config.host=${CASE_HOST}
     - case-svc.connection-config.port=${CASE_PORT}
  sdx-gateway:
    container_name: sdx-gateway
    image: sdcplatform/sdx-gateway
    ports:
     - "8191:8191"
     - "8291:8291"
    external_links:
     - postgres
     - rabbitmq
     - redis
     - sftp
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}
     - rabbitmq.host=${RABBIT_HOST}
     - rabbitmq.port=${RABBIT_PORT}
     - redis.host=${REDIS_HOST}
     - data-grid.address=${REDIS_HOST}:${REDIS_PORT}
     - sftp.host=${SFTP_HOST}
     - sftp.port=${SFTP_PORT}
  collectionexercise:
    container_name: collex
    image: sdcplatform/collectionexercisesvc 
    ports:
     - "${COLLEX_PORT}:8145"
     - "${COLLEX_MAN_PORT}:8245"
    external_links:
     - postgres
     - rabbitmq
     - redis
    environment:
     - spring.datasource.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}?sslmode=disable
     - liquibase.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}
     - rabbitmq.host=${RABBIT_HOST}
     - rabbitmq.port=${RABBIT_PORT}
     - redisson-config.address=${REDIS_HOST}:${REDIS_PORT}
     - data-grid.address=${REDIS_HOST}:${REDIS_PORT}
     - sample-svc.connection-config.host=${SAMPLE_HOST}
     - sample-svc.connection-config.port=${SAMPLE_PORT}
     - survey-svc.connection-config.host=${SURVEY_HOST}
     - survey-svc.connection-config.port=${SURVEY_PORT}
     - party-svc.connection-config.host=${PARTY_HOST}
     - party-svc.connection-config.port=${PARTY_PORT}
     - party-svc.connection-config.username=${PARTY_USER}
     - party-svc.connection-config.password=${PARTY_PASSWORD}
     - collection-instrument-svc.connection-config.host=${COLL_INST_HOST}
     - collection-instrument-svc.connection-config.port=${COLL_INST_PORT}
     - collection-instrument-svc.connection-config.username=${COLL_INST_USER}
     - collection-instrument-svc.connection-config.password=${COLL_INST_PASSWORD}
  survey:
    container_name: survey
    image: sdcplatform/surveysvc
    ports:
     - "${SURVEY_PORT}:8080"
    external_links:
     - postgres
    environment:
     - DATABASE_URL=postgres://postgres:postgres@${POSTGRES_HOST}:${POSTGRES_PORT}/postgres?sslmode=disable
     - security_user_name=${SURVEY_USER}
     - security_user_password=${SURVEY_PASSWORD}
  notifygateway:
    container_name: notifygateway
    image: sdcplatform/notifygatewaysvc
    ports:
     - "8281:8281"
    external_links:
     - rabbitmq
     - postgres
    environment:
     - rabbitmq.host=${RABBIT_HOST}
     - rabbitmq.port=${RABBIT_PORT}
     - notify.apiKey=ctpnotifygateway-0e515090-7962-40e8-a8c7-acbacf079c21-ac979394-a989-4f79-b0e0-6abcca564393
     - spring.datasource.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}
     - liquibase.url=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_HOST}
networks:
  default:
    external:
      name: rmdockerdev_default
