version: "3"
services:
  sample:
    container_name: sample
    image: sdcplatform/samplesvc
    ports:
     - "8125:8125"
     - "8225:8225"
    external_links:
     - rmdockerdev_ons-postgres_1
     - rmdockerdev_rabbitmq_1
     - rmdockerdev_redis_1
     - rmdockerdev_sftp_1
    environment:
     - spring.datasource.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres
     - sftp.host=rmdockerdev_sftp_1
     - rabbitmq.host=rmdockerdev_rabbitmq_1
     - redis.host=rmdockerdev_redis_1
  case:
    container_name: case
    image: sdcplatform/casesvc
    ports:
     - "8171:8171"
     - "8271:8271"
    external_links:
     - rmdockerdev_ons-postgres_1
     - rmdockerdev_rabbitmq_1
     - rmdockerdev_redis_1
    environment:
     - spring.datasource.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres
     - rabbitmq.host=rmdockerdev_rabbitmq_1
     - redis.host=rmdockerdev_redis_1
  action:
    container_name: action
    image: sdcplatform/actionsvc
    ports:
     - "8151:8151"
     - "8251:8251"
    external_links:
     - rmdockerdev_ons-postgres_1
     - rmdockerdev_rabbitmq_1
     - rmdockerdev_redis_1
    links:
     - case
    environment:
     - spring.datasource.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres
     - rabbitmq.host=rmdockerdev_rabbitmq_1
     - redis.host=rmdockerdev_redis_1
     - case-svc.connection-config.host=case
  actionexporter:
    container_name: actionexporter
    image: sdcplatform/actionexportersvc
    ports:
     - "8141:8141"
     - "8241:8241"
    external_links:
     - rmdockerdev_ons-postgres_1
     - rmdockerdev_rabbitmq_1
     - rmdockerdev_redis_1
     - sftp.host=rmdockerdev_sftp_1
    environment:
     - spring.datasource.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres
     - rabbitmq.host=rmdockerdev_rabbitmq_1
     - redis.host=rmdockerdev_redis_1
     - sftp.host=rmdockerdev_sftp_1
  iac:
    container_name: iac
    image: sdcplatform/iacsvc
    ports:
     - "8121:8121"
     - "8221:8221"
    external_links:
     - rmdockerdev_ons-postgres_1
     - rmdockerdev_rabbitmq_1
     - rmdockerdev_redis_1
    links:
     - case
    environment:
     - spring.datasource.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres
     - rabbitmq.host=rmdockerdev_rabbitmq_1
     - redis.host=rmdockerdev_redis_1
     - case-svc.connection-config.host=case
  sdx-gateway:
    container_name: sdx-gateway
    image: sdcplatform/sdx-gateway
    ports:
     - "8191:8191"
     - "8291:8291"
    external_links:
     - rmdockerdev_ons-postgres_1
     - rmdockerdev_rabbitmq_1
     - rmdockerdev_redis_1
    environment:
     - spring.datasource.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres?sslmode=disable
     - liquibase.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres
     - rabbitmq.host=rmdockerdev_rabbitmq_1
     - redis.host=rmdockerdev_redis_1
#  collectionexercise:
#    container_name: collex
#    image: sdcplatform/collexsvc
#    ports:
#     - "8145:8145"
#     - "8245:8245"
#    external_links:
#     - rmdockerdev_ons-postgres_1
#     - rmdockerdev_rabbitmq_1
#     - rmdockerdev_redis_1
#    links:
#     - sample
#    environment:
#     - spring.datasource.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres?sslmode=disable
#     - liquibase.url=jdbc:postgresql://rmdockerdev_ons-postgres_1:5432/postgres
#     - rabbitmq.host=rmdockerdev_rabbitmq_1
#     - redis.host=rmdockerdev_redis_1
#     - sample-svc.connection-config.host=sample
networks:
  default:
    external:
      name: rmdockerdev_default
